<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RedDoorz.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>79AC7A9ACA5DED652328812331F5F2EF7BC2839F</string>
				<key>dateExpires</key>
				<string>28/03/19</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79AC7A9ACA5DED652328812331F5F2EF7BC2839F</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GU9WYM5RTM</string>
						<key>name</key>
						<string>COMMEASURE SOLUTIONS INDIA PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79AC7A9ACA5DED652328812331F5F2EF7BC2839F</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GU9WYM5RTM</string>
						<key>name</key>
						<string>COMMEASURE SOLUTIONS INDIA PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79AC7A9ACA5DED652328812331F5F2EF7BC2839F</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>CarbonKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GU9WYM5RTM</string>
						<key>name</key>
						<string>COMMEASURE SOLUTIONS INDIA PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79AC7A9ACA5DED652328812331F5F2EF7BC2839F</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Dropper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GU9WYM5RTM</string>
						<key>name</key>
						<string>COMMEASURE SOLUTIONS INDIA PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79AC7A9ACA5DED652328812331F5F2EF7BC2839F</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>EasyTipView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GU9WYM5RTM</string>
						<key>name</key>
						<string>COMMEASURE SOLUTIONS INDIA PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79AC7A9ACA5DED652328812331F5F2EF7BC2839F</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GU9WYM5RTM</string>
						<key>name</key>
						<string>COMMEASURE SOLUTIONS INDIA PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79AC7A9ACA5DED652328812331F5F2EF7BC2839F</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GU9WYM5RTM</string>
						<key>name</key>
						<string>COMMEASURE SOLUTIONS INDIA PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79AC7A9ACA5DED652328812331F5F2EF7BC2839F</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FSPagerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GU9WYM5RTM</string>
						<key>name</key>
						<string>COMMEASURE SOLUTIONS INDIA PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79AC7A9ACA5DED652328812331F5F2EF7BC2839F</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FacebookCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GU9WYM5RTM</string>
						<key>name</key>
						<string>COMMEASURE SOLUTIONS INDIA PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79AC7A9ACA5DED652328812331F5F2EF7BC2839F</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FacebookLogin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GU9WYM5RTM</string>
						<key>name</key>
						<string>COMMEASURE SOLUTIONS INDIA PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79AC7A9ACA5DED652328812331F5F2EF7BC2839F</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FontAwesome_swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GU9WYM5RTM</string>
						<key>name</key>
						<string>COMMEASURE SOLUTIONS INDIA PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79AC7A9ACA5DED652328812331F5F2EF7BC2839F</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMOAuth2.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GU9WYM5RTM</string>
						<key>name</key>
						<string>COMMEASURE SOLUTIONS INDIA PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79AC7A9ACA5DED652328812331F5F2EF7BC2839F</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GU9WYM5RTM</string>
						<key>name</key>
						<string>COMMEASURE SOLUTIONS INDIA PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79AC7A9ACA5DED652328812331F5F2EF7BC2839F</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Gloss.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GU9WYM5RTM</string>
						<key>name</key>
						<string>COMMEASURE SOLUTIONS INDIA PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79AC7A9ACA5DED652328812331F5F2EF7BC2839F</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GU9WYM5RTM</string>
						<key>name</key>
						<string>COMMEASURE SOLUTIONS INDIA PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79AC7A9ACA5DED652328812331F5F2EF7BC2839F</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GU9WYM5RTM</string>
						<key>name</key>
						<string>COMMEASURE SOLUTIONS INDIA PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79AC7A9ACA5DED652328812331F5F2EF7BC2839F</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Mixpanel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GU9WYM5RTM</string>
						<key>name</key>
						<string>COMMEASURE SOLUTIONS INDIA PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79AC7A9ACA5DED652328812331F5F2EF7BC2839F</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MoEngage_iOS_SDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GU9WYM5RTM</string>
						<key>name</key>
						<string>COMMEASURE SOLUTIONS INDIA PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79AC7A9ACA5DED652328812331F5F2EF7BC2839F</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>PopupDialog.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GU9WYM5RTM</string>
						<key>name</key>
						<string>COMMEASURE SOLUTIONS INDIA PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79AC7A9ACA5DED652328812331F5F2EF7BC2839F</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GU9WYM5RTM</string>
						<key>name</key>
						<string>COMMEASURE SOLUTIONS INDIA PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79AC7A9ACA5DED652328812331F5F2EF7BC2839F</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>RSDayFlow.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GU9WYM5RTM</string>
						<key>name</key>
						<string>COMMEASURE SOLUTIONS INDIA PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79AC7A9ACA5DED652328812331F5F2EF7BC2839F</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>RangeSeekSlider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GU9WYM5RTM</string>
						<key>name</key>
						<string>COMMEASURE SOLUTIONS INDIA PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79AC7A9ACA5DED652328812331F5F2EF7BC2839F</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GU9WYM5RTM</string>
						<key>name</key>
						<string>COMMEASURE SOLUTIONS INDIA PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79AC7A9ACA5DED652328812331F5F2EF7BC2839F</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SKPhotoBrowser.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GU9WYM5RTM</string>
						<key>name</key>
						<string>COMMEASURE SOLUTIONS INDIA PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79AC7A9ACA5DED652328812331F5F2EF7BC2839F</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>UIFloatLabelTextField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GU9WYM5RTM</string>
						<key>name</key>
						<string>COMMEASURE SOLUTIONS INDIA PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79AC7A9ACA5DED652328812331F5F2EF7BC2839F</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>libPhoneNumber_iOS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GU9WYM5RTM</string>
						<key>name</key>
						<string>COMMEASURE SOLUTIONS INDIA PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79AC7A9ACA5DED652328812331F5F2EF7BC2839F</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>GU9WYM5RTM.com.commeasurepte.reddoorz.NotificationServices</string>
						<key>aps-environment</key>
						<string>development</string>
						<key>com.apple.developer.team-identifier</key>
						<string>GU9WYM5RTM</string>
						<key>get-task-allow</key>
						<true/>
					</dict>
					<key>name</key>
					<string>NotificationServices.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>6bfaa67c-1f80-48b1-a431-b87cd0ace3dc</string>
						<key>name</key>
						<string>push_dev23</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GU9WYM5RTM</string>
						<key>name</key>
						<string>COMMEASURE SOLUTIONS INDIA PRIVATE LIMITED</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>GU9WYM5RTM.com.commeasurepte.reddoorz</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>GU9WYM5RTM</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>RedDoorz.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ca99a5d8-6aa3-49e7-846b-8620372ee249</string>
				<key>name</key>
				<string>RedDoorz_Dev_23_Feb</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>GU9WYM5RTM</string>
				<key>name</key>
				<string>COMMEASURE SOLUTIONS INDIA PRIVATE LIMITED</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
